body{
    margin:0px
}
nav{
    padding:10px;
    text-align: center;
    background:#f06623;
    margin-bottom: 25px;
    position:sticky;
    top:0;
    z-index:1;
}
footer {
  margin-top: 25px;
  border-top: 0.5em solid #0a5a73;
  background: #f06623;
  padding: 6px;
  color: white;
  position: relative;
  top: 207px;
  box-sizing: border-box;
  width: 100%;
}

a{
    text-decoration: none;
    color: white;
    padding: 15px;
}
a:hover{
  color: darkred;
}
.top{
  background-color: white;
}
.window input[value="Submit"] {
  cursor: pointer;
  background: #f06623;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  left: 84%;
}
